<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Object:</strong>
  <%= @event.object_id %>
</p>

<p>
  <strong>Object class:</strong>
  <%= @event.object_class %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user_id %>
</p>

<p>
  <strong>Session:</strong>
  <%= @event.session_id %>
</p>

<p>
  <strong>Page url:</strong>
  <%= @event.page_url %>
</p>

<p>
  <strong>Page path:</strong>
  <%= @event.page_path %>
</p>

<p>
  <strong>Page referrer:</strong>
  <%= @event.page_referrer %>
</p>

<p>
  <strong>Page search:</strong>
  <%= @event.page_search %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @event.user_agent %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @event.ip_address %>
</p>

<p>
  <strong>Country code:</strong>
  <%= @event.country_code %>
</p>

<p>
  <strong>Country name:</strong>
  <%= @event.country_name %>
</p>

<p>
  <strong>Region code:</strong>
  <%= @event.region_code %>
</p>

<p>
  <strong>Region name:</strong>
  <%= @event.region_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @event.time_zone %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @event.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @event.longitude %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @event.zip_code %>
</p>

<p>
  <strong>Platform:</strong>
  <%= @event.platform %>
</p>

<p>
  <strong>Device:</strong>
  <%= @event.device_type %>
</p>
<p>
  <strong>Device:</strong>
  <%= @event.device_name %>
</p>
<p>
  <strong>Os:</strong>
  <%= @event.os_name %>
</p>

<p>
  <strong>Browser:</strong>
  <%= @event.browser %>
</p>



<p>
  <strong>Event time:</strong>
  <%= @event.event_time %>
</p>

<p>
  <strong>Action class:</strong>
  <%= @event.action_class %>
</p>

<p>
  <strong>Action type:</strong>
  <%= @event.action_type %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
